*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

header{
    padding: 8px 0px;
    width:2080px ;
    height: 80px;
    background-color: #EB6440;
}

header nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}


header nav ul li img{
    width: 73px;
    height: 80px;
    padding-left: 0px;
}

main{
    justify-content: center;
    padding-top: 60px;
    padding-left: 400px;
}

.linha1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 640px;
}

.linha2{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 601px;
    height: 640px;
}

.linha3{
    list-style-type: none;
    width: 1200px;
    height: 640px;
}


footer{
    padding: 8px 0px;
    width:2080px ;
    height: 80px;
    background-color: #EB6440;
    text-align: center;
}

